#wlancontrols__container {
  width: 100%;
  position: fixed;
  top: -49px;
  transition: top 0.5s;
}
#wlancontrols__container.open {
  top: 0;
}
#wlancontrols__container .info {
  height: 50px;
  background-color: #fff;
  top: 0;
  right: 0;
  border-bottom: 1px solid #999999;
  padding: 3px;
}
#wlancontrols__container .controlbar {
  position: absolute;
  left: 50px;
  background-color: #eeeeee;
  color: #999999;
  padding: 2px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #999999;
  border-top: 0;
  cursor: pointer;
}
